# 依赖
node_modules/
.pnp
.pnp.js

# 构建产物
.next/
out/
dist/
target/
!.mvn/wrapper/maven-wrapper.jar

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*.iml

# 日志
*.log

# 数据库文件
data/

# 排除子项目
nextjs/

# 系统
.DS_Store
Thumbs.db
